.app{
    height:100%;
    background-color: rgb(233, 233, 233);
    font-family: "Libre Franklin", sans-serif;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size:3em;
    margin-block: 2%;
}

h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size:1.5em;
    margin-block: 5% 2%;
}

.content {
    border-radius: 3px;
    margin: 5% 30%;
    padding: .5% 1%;
    border-top: 4px solid rgb(101, 216, 181);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

@media only screen and (max-width: 1000px){
    .content {
        margin: 0;
        padding: 5% 5%;
        height: 100%;
    }
}

.content p {
    text-align: justify;
    margin-block: 2%;
}